html,
body {
  height: 100%;
}

#box {
  display: flex;
  flex-direction: column;
  position: relative;
}

#box .yd-header {
  height: 25.33333vw;
  background: #00a3fe;
  display: flex;
}

#box .yd-header ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 3.2vw;
}

#box .yd-header ul li:nth-child(1) {
  position: relative;
}

#box .yd-header ul li:nth-child(1)::after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border: 1.33333vw solid transparent;
  border-top-color: #fff;
  position: absolute;
  left: 37.33333vw;
  top: 2.66667vw;
}

#box .yd-header ul li:nth-child(1) i {
  font-size: 4.26667vw;
  color: #fff;
}

#box .yd-header ul li:nth-child(1) .wys {
  font-size: 4.26667vw;
  color: #fff;
}

#box .yd-header ul li:nth-child(2) {
  width: 92.53333vw;
  height: 9.33333vw;
  background: #fff;
  text-align: center;
  position: relative;
}

#box .yd-header ul li:nth-child(2) i {
  font-size: 3.73333vw;
  color: #a1a1a1;
  position: absolute;
  left: 21.33333vw;
  top: 2.8vw;
}

#box .yd-header ul li:nth-child(2) input {
  width: 61.33333vw;
  height: 9.33333vw;
  font-size: 3.2vw;
  color: #a1a1a1;
  position: absolute;
  right: 4vw;
  outline: none;
}

#box .yd-main {
  display: flex;
  flex-direction: column;
  padding: 0 2.66667vw;
  overflow-y: scroll;
  box-sizing: border-box;
}

#box .yd-main .main-top {
  height: 46.66667vw;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#box .yd-main .main-top ul {
  height: 46.66667vw;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#box .yd-main .main-top li {
  width: 20%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#box .yd-main .main-top li i img {
  width: 12vw;
  height: 12vw;
}

#box .yd-main .main-top li span {
  font-size: 2.93333vw;
}

#box .yd-main .main-banner {
  display: flex;
  flex-direction: column;
  margin-top: 2.66667vw;
  padding: 4vw 4vw;
  height: 29.33333vw;
  width: 100%;
  background: #f5f5f5 url(../image/list1.webp) no-repeat 47.33333vw center;
  background-size: contain;
  box-sizing: border-box;
}

#box .yd-main .main-banner h2 {
  font-size: 4.26667vw;
  color: #313131;
  line-height: 4.26667vw;
}

#box .yd-main .main-banner p {
  font-size: 3.06667vw;
  color: #ababab;
  line-height: 3.06667vw;
  margin-top: 2.4vw;
}

#box .yd-main .main-banner a {
  font-size: 2.93333vw;
  color: #b28568;
  line-height: 2.93333vw;
  margin-top: 3.2vw;
}

#box .yd-main .main-chongzhi {
  width: 100%;
  height: 10.66667vw;
  margin-top: 1.33333vw;
  background: #f0e1a0 url(../image/crown.png) no-repeat 4vw center;
  background-size: 4.53333vw 4.26667vw;
}

#box .yd-main .main-chongzhi ul {
  height: 100%;
  width: 100%;
  display: flex;
}

#box .yd-main .main-chongzhi ul li {
  text-align: center;
  line-height: 10.66667vw;
  display: flex;
}

#box .yd-main .main-chongzhi ul li:nth-child(1) {
  flex: 2;
  font-size: 3.46667vw;
  justify-content: flex-end;
  padding: 0 1.33333vw;
}

#box .yd-main .main-chongzhi ul li:nth-child(2) {
  flex: 4;
  font-size: 2.66667vw;
  padding: 0 1.33333vw;
  position: relative;
}

#box .yd-main .main-chongzhi ul li:nth-child(2) span {
  display: block;
  width: 0.53333vw;
  height: 0.53333vw;
  background: #000;
  position: absolute;
  top: 5.33333vw;
  left: 0;
}

#box .yd-main .main-chongzhi ul li:nth-child(3) {
  flex: 1;
  justify-content: flex-end;
}

#box .yd-main .main-chongzhi ul li:nth-child(3) a {
  font-size: 2.66667vw;
  color: #313131;
}

#box .yd-main .main-cjhy {
  width: 100%;
  height: 23.46667vw;
  margin-top: 1.33333vw;
  border: 0.13333vw solid #c6fbff;
  background: #0886ff url(../image/paomian.png) no-repeat 64vw center;
  background-size: contain;
}

#box .yd-main .main-cjhy h2 {
  font-size: 4.53333vw;
  line-height: 4.53333vw;
  color: #fff;
  margin-top: 5.06667vw;
  margin-left: 12.8vw;
}

#box .yd-main .main-cjhy span {
  display: block;
  width: 32.8vw;
  height: 4.26667vw;
  border-radius: 2.66667vw;
  background: #d1e7fe;
  margin-top: 2.13333vw;
  margin-left: 18.26667vw;
}

#box .yd-main .main-cjhy span a {
  font-size: 2.93333vw;
  line-height: 4.26667vw;
  color: #2a8be9;
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
}

#box .yd-main .main-shangjia {
  width: 100%;
  height: 25.33333vw;
  display: flex;
  flex-direction: column;
}

#box .yd-main .main-shangjia h2 {
  flex: 1;
  font-size: 3.73333vw;
  color: #000;
  text-align: center;
  line-height: 12.66667vw;
}

#box .yd-main .main-shangjia ul {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

#box .yd-main .main-shangjia ul li {
  display: flex;
  justify-content: center;
}

#box .yd-main .main-shangjia ul li a {
  font-size: 3.2vw;
  color: #b1b1b1;
}

#box .yd-main .main-mid {
  width: 100%;
  height: 42.66667vw;
  display: flex;
  margin-bottom: 4vw;
  justify-content: space-between;
}

#box .yd-main .main-mid .mid-left {
  width: 17.33333vw;
  height: 17.33333vw;
  border-radius: 2.13333vw;
  border: 0.13333vw solid #ccc;
  background: url(../image/shanjia.webp) no-repeat center center;
  background-size: contain;
}

#box .yd-main .main-mid .mid-right {
  width: 76vw;
  height: 100%;
}

#box .yd-main .main-mid .mid-right ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#box .yd-main .main-mid .mid-right ul li:nth-child(1) {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#box .yd-main .main-mid .mid-right ul li:nth-child(1) i {
  font-size: 2.93333vw;
  line-height: 4.8vw;
  color: #734e00;
  display: block;
  width: 7.2vw;
  height: 4.8vw;
  text-align: center;
  background: #fdea11;
  margin-left: 1.33333vw;
}

#box .yd-main .main-mid .mid-right ul li:nth-child(1) p {
  margin-right: 1.33333vw;
  color: #2f2f2f;
}

#box .yd-main .main-mid .mid-right ul li:nth-child(1) span {
  font-size: 3.73333vw;
}

#box .yd-main .main-mid .mid-right ul li:nth-child(2) {
  flex: 1;
  display: flex;
  margin-top: 1.33333vw;
  justify-content: center;
}

#box .yd-main .main-mid .mid-right ul li:nth-child(2) p {
  background: url(../image/xingji.png) no-repeat 1.33333vw center;
  background-size: 15.2vw 3.46667vw;
  text-align: center;
  line-height: 6.66667vw;
  box-sizing: border-box;
  padding-left: 1.33333vw;
  flex: 3;
  font-size: 3.46667vw;
}

#box .yd-main .main-mid .mid-right ul li:nth-child(2) span {
  flex: 1;
  display: block;
  width: 11.2vw;
  height: 100%;
  border-radius: 0.53333vw;
  background: #00a3fe;
  font-size: 3.46667vw;
  color: #fff;
  text-align: center;
  line-height: 6vw;
}

#box .yd-main .main-mid .mid-right ul li:nth-child(3) {
  flex: 1;
  display: flex;
  margin-top: 1.33333vw;
  justify-content: space-between;
}

#box .yd-main .main-mid .mid-right ul li:nth-child(3) span {
  font-size: 3.46667vw;
  display: flex;
}

#box .yd-main .main-mid .mid-right ul li:nth-child(3) span i {
  padding: 0 1.33333vw;
  height: 4vw;
  line-height: 3.46667vw;
  text-align: center;
}

#box .yd-main .main-mid .mid-right ul li:nth-child(3) span i:nth-child(1) {
  display: block;
  border-right: 0.13333vw solid #ccc;
}

#box .yd-main .main-mid .mid-right ul li:nth-child(3) p {
  font-size: 3.2vw;
}

#box .yd-main .main-mid .mid-right ul li:nth-child(4) {
  flex: 1;
  display: flex;
  margin-bottom: 3.46667vw;
}

#box .yd-main .main-mid .mid-right ul li:nth-child(4) span {
  font-size: 3.46667vw;
  display: block;
  width: 15.2vw;
  text-align: center;
  line-height: 5.33333vw;
  height: 100%;
  border: 0.13333vw solid #ccc;
  margin-right: 2.66667vw;
}

#box .yd-main .main-mid .mid-right ul li:nth-child(5) {
  flex: 3;
  display: flex;
  border-top: 0.26667vw dashed #ebebeb;
  flex-direction: column;
  justify-content: space-around;
}

#box .yd-main .main-mid .mid-right ul li:nth-child(5) span {
  display: flex;
  justify-content: space-between;
}

#box .yd-main .main-mid .mid-right ul li:nth-child(5) span a {
  display: block;
  flex: 1;
  font-size: 3.46667vw;
  color: #a3a3a3;
  position: relative;
}

#box .yd-main .main-mid .mid-right ul li:nth-child(5) span a::after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border: 1.33333vw solid transparent;
  border-top-color: #a3a3a3;
  position: absolute;
  right: 0;
  top: 1.33333vw;
}

#box .yd-main .main-mid .mid-right ul li:nth-child(5) span p {
  font-size: 3.46667vw;
  display: flex;
  flex: 3;
  align-items: center;
}

#box .yd-main .main-mid .mid-right ul li:nth-child(5) span p i {
  text-align: center;
  font-size: 4vw;
  display: block;
  width: 5.33333vw;
  height: 5.33333vw;
  background: deeppink;
  border-radius: 0.53333vw;
}

#box .yd-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 14.13333vw;
  background: #fff;
  box-shadow: -0.66667vw 0 0.66667vw 0.66667vw #efefef;
}

#box .yd-footer ul {
  display: flex;
  height: 100%;
  justify-content: space-around;
}

#box .yd-footer ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#box .yd-footer ul li i {
  font-size: 4.66667vw;
  color: #b1b1b1;
}

#box .yd-footer ul li span {
  font-size: 2.4vw;
  color: #b1b1b1;
}

#box .yd-footer ul li:hover i {
  color: #00a3fe;
}

#box .yd-footer ul li:hover span {
  color: #00a3fe;
}
