#box .pc-main .main-center{
    flex-direction: column;
}
#box .pc-main .main-center .main-list2{
    width: 95%
}
#box .pc-main .main-center .main-list1{
    width: 95%
}
#box .pc-footer ul{
    flex-direction: column;
}
/* #box .pc-footer ul li{
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
} */